{% extends "layout.html" %}

{% block pageTitle %}
  Ineligible page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/juggling-balls">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You are ineligible for a juggling licence
      </h1>

      <p>You are not good enough at juggling, therefore we have not granted you a licence.</p>

      <p><a href="https://www.youtube.com/watch?v=G9FGgwCQ22w">Now go away</a>.</p>

    </div>
  </div>

{% endblock %}
